In [1]:
import pandas as pd

csv_file = "Resources/purchase_data.csv"

purchase_df = pd.read_csv(csv_file)

In [2]:
players = purchase_df["SN"].unique()

total_players = len(purchase_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

In [3]:
unique_items = purchase_df["Item ID"].unique()
num_unique_items = len(unique_items)
average_price = purchase_df["Price"].mean()
unique_number_purchases = purchase_df['Purchase ID'].unique()
count_unique_number_purchases = len(unique_number_purchases)
total_revenue = purchase_df["Price"].sum()

total_purchase_df = pd.DataFrame({"Number of Unique Items":[num_unique_items],
                                  "Average Price":[average_price],
                                  "Number of Purchases":[count_unique_number_purchases],
                                  "Total Revenue":[total_revenue]})
total_purchase_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77