In [1]:
import pandas as pd

file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#purchase_data.shape

In [4]:
#my_dict = {"pl":purchase_data["SN"].unique(),
#          "gender":purchase_data["Gender"]}
#my_df_2 = pd.DataFrame(my_dict)
#my_df_2

In [5]:
players = purchase_data["SN"].unique()
#print (players)
total_players = len(players)
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

In [6]:
unique_items = purchase_data["Item ID"].unique()
num_unique_items = len(unique_items)
average_price = purchase_data["Price"].mean()
#number_purchases = purchase_data['Purchase ID'].value_counts()
unique_number_purchases = purchase_data['Purchase ID'].unique()
count_unique_number_purchases = len(unique_number_purchases)
total_revenue = purchase_data["Price"].sum()

In [7]:
total_purchase_df = pd.DataFrame({"Number of Unique Items":[num_unique_items],
                                  "Average Price":[average_price],
                                  "Number of Purchases":[count_unique_number_purchases],
                                  "Total Revenue":[total_revenue]})
total_purchase_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [8]:
#purchase_data = purchase_data.set_index('SN')
unique_gender = purchase_data["Gender"].value_counts()
unique_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [9]:
#pd2 = purchase_data.groupby(["SN"])
#pd2["Gender"].count()

In [10]:
 pd_group = purchase_data.groupby(["Gender"])

In [11]:
average_purchase_price = pd_group["Price"].mean()
average_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [12]:
total_purchase_value = pd_group["Price"].sum()

In [13]:
purchase_count = pd_group["Purchase ID"].count()

In [14]:
#pd_group_2 = purchase_data.groupby(["SN","Gender"])

In [26]:
pd_median = pd_group["Price"].min()
pd_median

Gender
Female                   1.00
Male                     1.00
Other / Non-Disclosed    1.33
Name: Price, dtype: float64

In [31]:
pd_group[["SN","Price"]].mean()

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000